.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center{
  text-align: center;
}
.my_0{
  margin-top: p;
  margin-bottom: 0;
}
.py_1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.title{
  /* text-align: center; */
  text-transform: uppercase;
  background: black;
  color: aliceblue;
  font-weight: 100;
}

.Count{
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.flex{
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.copy{
  background: darkslategray;
  color: aliceblue;
  width: 1200px;
  height: 50px;
  font-size: 2em;
  font-weight: 100;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

[type=number]{
  text-align: right;
  /* text-indent: 1rem; */
}